.messages.updatescript_status {
	background-color:		#EEEEEE;	
	background-image:		url(../images/bs_bulp.png);
	background-repeat:		no-repeat;
	background-position:	15px 8px;
}

#updatescript-dialog {
	width:				6480px;
	height:				480px;
	overflow:			auto;
	background-color:	black;
	color:				white;
	display:			none;
	font-family:		Monospace;
	font-size:			0.9em;
}

#updatescript-footer {
	text-align: center;
	font-size:	0.7em;
}

#updatescript-process-scripts-submit {
	margin-top: 15px;
}